@import url('./variables.css');
main {
  background-color: var(--color-main);
  color: var(--color-font);
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 120px;
}

.main_contents {
  width: 100%;
  max-width: 1200px;
  display: flex;
  flex-direction: column;
}

.profile {
  display: flex;
  padding: 40px 20px;
}

.profile_image {
  overflow: hidden;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 30px;
}

.profile_image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.profile_description {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.profile_description .name {
  font-size: 33px;
  font-weight: bold;
  padding: 20px 0;
  border-bottom: 2px solid var(--color-font);
}

.profile_description .introduce {
  font-size: 20px;
  padding: 10px 0;
  line-height: 28px;
}

.picture_list {
  display: flex;
  flex-wrap: wrap;
  /* justify-content: center; */
}

.picture {
  position: relative;
  width: 250px;
  height: 250px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 25px 25px 0 25px;
  transition: all 0.2s ease;
  cursor: pointer;
}

.picture img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.picture:hover {
  transform: scale(1.1);
}

.picture .description {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background: linear-gradient(
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0.2),
    rgba(0, 0, 0, 0.3)
  );
  opacity: 0;
  transition: all 0.3s ease;
}

.description .title {
  color: white;
  font-weight: bold;
  font-size: 20px;
  transform: translateY(20px);
  opacity: 0;
  transition: all 0.3s ease;
}

.description .subtitle {
  color: white;
  font-weight: 500;
  transform: translateY(20px);
  opacity: 0;
  transition: all 0.3s ease;
}

.picture:hover .description {
  opacity: 1;
}

.picture:hover .description .title,
.picture:hover .description .subtitle {
  opacity: 1;
  transform: translateY(0);
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal_contents {
  background-color: rgba(0, 0, 0, 0.44);
  border-radius: 15px;
  padding-right: 25px;
  display: flex;
  width: 80%;
  height: 80%;
}

.modal_picture {
  width: 50%;
  margin-right: 30px;
  border: 5px solid rgba(0, 0, 0, 0.5);
  background-color: rgba(0, 0, 0, 0.5);
  padding: 10px;
  border-radius: 10px;
}

.modal_picture img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.modal_description {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.modal_title {
  color: white;
  font-size: 25px;
  font-weight: bold;
  padding: 20px 0;
  border-bottom: 2px solid white;
}

.modal_subtitle {
  color: white;
  font-size: 20px;
  line-height: 25px;
  padding: 20px 0;
}

.modal .btn {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 30px;
  height: 30px;
  background-color: orangered;
  border-radius: 50%;
  cursor: pointer;
}

.modal .btn:hover {
  background-color: orange;
}

.modal.hidden {
  display: none;
}
